@tailwind base;

:root {
  --primary-scroll: rgb(229 231 235);
  --secondary-scroll: rgb(156 163 175);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background-color: var(--primary-scroll);
  
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-scroll);
  border-radius: 14px;
  border: 2px solid var(--primary-scroll);
}

@tailwind components;
@tailwind utilities;
